@using HRApplication.Models
 
@model Employee

<!DOCTYPE html>
    <html>
    <head>
        <title>confirmation Page</title>
    </head>
    <body>
    <div>
        <h2>Employee @Model.EmployeeName saved succesfully</h2>

    </div>

    </body>
    </html>