@{
    ViewData["Title"] = "Home Page";
}
!
<!DOCTYPE html>
    <html>
    <head>
        <title></title>
    </head>
    <body>
  
    <div class="text-center">
       
        <h1 class="display-4">HR Application</h1>

    </div>

   
  
    </body>
    </html>

